<?xml version="1.0" encoding="UTF-8"?>
<!-- mybatis로 인식하게 하기 위해서 이렇게 써야함
	커넥션 풀을 만드는것이다. 
	공장을 짓기전에 이게 설정 도면이다. 
 -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">	<!-- 커넥션풀이라서 pooled -->
				<property name="driver" value="oracle.jdbc.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
				<property name="username" value="hr"/>
				<property name="password" value="hr"/>
			</dataSource>
		</environment>
	</environments>
	
</configuration>