@charset "UTF-8";
img{
   border:5px solid #00796b;
}

input{
   text-align:center;
   font-family:Jua;
   font-size:30px;
   width:70%;
   outline:none;
   border-top-style:none;
   border-bottom-style:solid;
   border-right-style:none;
   border-left-style:none;
   border-width:5px;
   border-color:#00796b;
}

fieldset{
   border-top-style:groove;
   border-bottom-style:none;
   border-right-style:none;
   border-left-style:none;
   border-width:10px;
   border-top-color:#42a5f5;
   width:65%;
   height:180px;
   margin:30px auto;
   padding:15px;
   text-align:center;
   font-family:Black Han Sans;
   color:#00796b;
   font-size:3em;
}
   
textarea{
   width:70%;
   height:40%;
   overflow-y:hidden;
   border:0;
   resize:none;
   outline:none;
   text-align:center;
   margin:20px;
   font-family:Jua;
   font-size:2rem;
}

button{
   margin:0 auto;
   width:30%;
   font-family:Black Han Sans;
   font-size:1em;
   color:#01579b;
   background:#42a5f5;
   padding-top:10px;
}

img{
   width:500px;
   height:300px;
}